<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
</head>

<body>
    <div id ="wrapper">      
       
       <div id ="container">
    	
	    </div>
	    <div id ="action">
	    	<input type="button" value="call ajax" id="call"/>
	    </div>
	</div>
	
<script id="template" type="text/x-handlebars-template">
	your name is  {{name}}
</script>
	    
    <script src="js/jquery.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script> 
    <script src="js/handlebars-v1.3.0.js"></script> 
    <script src="js/ajax.js"></script>
</body>
</html>